.dashboard {
    width: 100vw;
    height: 100vh;
    background-color: #EEEEEE;
    position: fixed;
}

.header {
    position: fixed;
    width: 100vw;
    height: 50px;
    background-color: #1976d2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    height: 50px;
    display: flex;
}

.profile {
    height: 60px;
    display: flex;
}

.px20 {
    width: 20px;
}

.font20 {
    font-size: 200px;
}